<.flash_group flash={@flash} />
<%= for {day, events} <- @schedule do %>
  <h1>{day.name}</h1>
  <ul>
    <%= for event <- events do %>
      <li>{event.time |> Calendar.strftime("%H:%M")} {event.name}</li>
    <% end %>
  </ul>
<% end %>
